body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
}

.sidebar {
    background-color: #4caf50;
    padding: 20px;
    color: #fff;
    text-align: center;
    min-width: 250px;
}

.profile-pic img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #fff;
}

.sidebar h1, .sidebar p {
    margin: 0;
}

.contact p {
    font-size: 0.8em;
}

.main-content {
    background-color: #fff;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 10px;
    font-size: 1.2em;
}

footer {
    text-align: center;
}